{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Registered Successfully</title>
		<style>
				html, body
				{
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				}
				
				body
				{
					background: rgb(240, 240, 240);
				}

				#container
				{
					position: relative;
					display: inline-block;
					left: 50%;
					margin-top: 100px;
					border-radius: 5px;
					transform: translateX(-50%);
					background: rgb(65, 118, 144);
					padding: 20px;
				}
		</style>
	</head>
	<body>
		<div id="container">
			<span style="margin: 0; padding: 0; font-weight: 100; font-size: 40px; color: white;">Successfully Registered</span>
		</div>
	</body>
</html>